# Firebase secrets
lib/firebase_options.dart
google-services.json
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Keystore & signing
android/key.properties
*.jks
*.keystore

# Flutter generated
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Cache
assets/users_cache.json